@using Core.DTO;
@model List<OrderDTO> 

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
        int count = 1;
        foreach (var order in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@order.OrderTime.ToString("yyyy-MM-dd")</td>
                <td>@order.Status</td>
                <td>$@order.OrderTime.ToString("0.00")</td>
                <td><a href="#" class="btn btn-primary btn-sm">View</a></td> <!-- You might want to adjust the link here -->
            </tr>
            count++;
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="text-center">No orders found.</td>
        </tr>
    }
    </tbody>
</table>
